.container
{
  margin-left: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.AIcontainer
{
  width: 500px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #ccc;
}