@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.projecthud-container {
  padding-top: 30px;
 display: grid;
 grid-template-columns: 600px 500px;
 grid-template-rows: 300px 500px; 
 grid-gap: 30px;
 padding-left: 20px;
 /* justify-content: center; */
 margin-left: 50px;
}


.projectsdone-average-container {
  display: flex;
  width: 500px;
  height: 400px;
  gap: 50px;
  padding: 30px 10px 10px 100px;
  align-items: center;
  justify-content: center;
}

.projectsdone,
.projectaverage {
  color: white;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #5e2373, #3e3e78);
  width: 300px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.projectsdone:hover,
.projectaverage:hover {
  transform: scale(1.05);
  background: rgb(0, 0, 0);
  color: white;

}



.title-projectsdone {
  font-size: 50px;
}

.subscript {
  padding-bottom: 30px;
}

.average-text {
  padding-bottom: 50px;

}

.percentage-number {
  font-size: 50px;
}

.projectsinfo-container {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.projectsinfo-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: fit-content;
  height: fit-content;
  margin: 0px;
  padding: 0px;
}

.list-item:hover {
  transform: scale(1.05);
  background: rgb(0, 0, 0);
  color: white;
}

.list-item {
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom right, #411140, #102b5a);
  border-radius: 15px;
  color: white;
}

.big-script {
  font-size: 50px;
  padding-right: 10px;
}
.a{
  grid-column: 1;
  grid-row: 1;
}
.b{
  grid-column: 2;
  grid-row: 1;
}
.flexrow
{
display: flex;
flex-direction: row;
justify-content: center;
/* align-items: flex-end; */
}
.flexcol
{
  display: flex;
  flex-direction: column;
}
.statstitle
{
justify-content: left;
margin-left: 10px;
font-family: sans-serif;
font-weight: 200px;}