.question-container {
  background: white;
  padding: 30px;
  width: 80%;
  height: 40px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  text-align: left;
  display: flex;
  align-content: center;  
  margin-bottom: 50px;
}

.question-header {
  text-align: left;
  font-size: 20px;
  font-weight: 600px;
}
