.question-container {
  background: white;
  padding: 30px;
  width: 90%;
  height: auto; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  text-align: left;
  display: flex;
  margin-bottom: 50px;

}

.question-header {
  text-align: left;
  font-size: x-large;
  font-weight: 600px;
}
